<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.security.network.client</key>
    <true/>
    <key>com.apple.security.personal-information.keychain</key>
    <true/>
    <key>com.apple.security.temporary-exception.apple-events</key>
    <array>
        <string>com.apple.Safari</string>
        <string>com.apple.SafariTechnologyPreview</string>
        <string>com.kagi.kagimacOS</string>
        <string>com.kagi.kagimacOS.RC</string>
        <string>com.google.Chrome</string>
        <string>com.google.Chrome.beta</string>
        <string>com.google.Chrome.dev</string>
        <string>com.google.Chrome.canary</string>
        <string>com.microsoft.edgemac</string>
        <string>com.microsoft.edgemac.beta</string>
        <string>com.microsoft.edgemac.dev</string>
        <string>com.microsoft.edgemac.canary</string>
        <string>com.brave.Browser</string>
        <string>com.brave.Browser.beta</string>
        <string>com.brave.Browser.nightly</string>
        <string>company.thebrowser.Browser</string>
        <string>com.operasoftware.Opera</string>
        <string>com.operasoftware.OperaNext</string>
        <string>com.operasoftware.OperaDeveloper</string>
        <string>com.vivaldi.Vivaldi</string>
        <string>com.vivaldi.Vivaldi.snapshot</string>
    </array>

    <key>com.apple.security.temporary-exception.files.home-relative-path.read-only</key>
    <array>
        <string>/Library/Application Support/Firefox/</string>
        <string>/Library/Application Support/zen/</string>
    </array>

    <key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
    <array>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)-spks</string>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)-spki</string>
    </array>
</dict>
</plist>
